

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">Sparks Banking System</h1>
    <h3>“Dream in colours, for hues are vibrant.
      Paint each day with a smile.
      In days of past, don't grieve;
      Make new deposit to the pleasant memory bank!
      Let your life be a reason for others to LIVE.”</h3>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="column">
      <img src="assets/image/b7.jpg" alt="Snow" style="width:100%">
      <h3 style="color: darkgreen">Checking Accounts</h3>
      <p style="font-size: 16px">Choose the checking accounts that fits your lifestyle.You'll get 24/7
      access to your funds and online tools to help manage your money.</p>
    </div>
    <div class="column">
      <img src="assets/image/b6.jpg" alt="Forest" style="width:100%">
      <h3 style="color: darkgreen">Mortage Loans</h3>
      <p style="font-size: 16px">With a spark bank Mortage ,expect a very competitive interest rate and home loan
        experts to help you every step of the way.</p>
    </div>

  </div>
  <div class="container">
    <img src="assets/image/b5.jpeg" alt="Forest" style="width:100%">
    <h3 style="color: darkgreen">Online and Mobile Banking</h3>
    <p style="font-size: 16px">Transfer funds,pay bills,deposits check,track your spending ,and
      more,all from the palm of your hand with the spark app.</p>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <span> All Rights Reserved 2021 @anu.com</span>
  </div>
</footer>





